12 лаба/third.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="style.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="shop">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="product" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="category">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Музыка"/>
                    <xs:enumeration value="Одежда"/>
                    <xs:enumeration value="Билеты"/>
                    <xs:enumeration value="Аксессуары"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="price">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="currency" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="quantity" type="xs:positiveInteger"/>
              <xs:element name="description" type="xs:string"/>
              <xs:choice minOccurs="0">
                <xs:element name="release_year" type="xs:gYear"/>
                <xs:element name="sizes" type="xs:string"/>
                <xs:element name="concert_date" type="xs:date"/>
              </xs:choice>
              <xs:element name="material" type="xs:string" minOccurs="0"/>
              <xs:element name="location" type="xs:string" minOccurs="0"/>
              <xs:element name="rating">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="5"/>
                    <xs:fractionDigits value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="image" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="category" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>